body{
    background: transparent url(../src/animal-avian-bird-2118607.png) fixed;
    font-family: 'Pridi', serif;
    font-size: 25px;
    color: white;    
    background-position: left;
    background-size: cover;        
            
}

.containercifra{
    display: flex;
    justify-content: right;
    margin-right: 300px;
    text-align: center;
    margin-left: 1100px;
    position: relative; 
    margin-top: 100px;
}

.result{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    text-align: center;
    word-wrap: break-word;
    width: 400px;
    height: 400px;
   }


input{
    height: 50px;

}



