


body{
    
    background: url(../src/animal-avian-bird-2118607.png) fixed;
    background-position: left;
    background-size: cover;
    
}

.containercifra{   
   position: fixed;
   font-family: 'Pridi', serif;   
   left: 70%;
   top: 10%;
   width: 100%;
   font-size: 15pt;
   color: white;
}

.result{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    font-size: 20px;    
    word-wrap: break-word;   
    
}

input{
    height: 20px;
}



